VideoPlatform.API/bin
VideoPlatform.API/bin/*
VideoPlatform.API/obj
VideoPlatform.API/obj/*
.idea
.idea/*
VideoPlatform.Data/obj
VideoPlatform.Data/bin
VideoPlatform.Data/obj/*
VideoPlatform.Data/bin/*
VideoPlatform.Models/obj
VideoPlatform.Models/bin
VideoPlatform.Models/obj/*
VideoPlatform.Models/bin/*